@{
    ViewBag.Title = "About Machala";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a senior at Ohio University studying MIS and Marketing, graduating this semester. I am from Cleveland, Ohio. I love traveling and concerts.</p>
