@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 1/2 S. Court St <br />
    Athens Ohio 45701 <br />
    <abbr title="Phone">P:</abbr>
    440-371-6268
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ma391115@ohio.edu">ma391115@ohio.edu</a><br />
    
</address>